body {
	background-image: url("images/starbg.gif");
	background-repeat: repeat;
	background-size: 200px;
	color: #ffffff;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 100px;
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}

.pixel-corners2 {
  clip-path: polygon(
    0px calc(100% - 8px),
    4px calc(100% - 8px),
    4px calc(100% - 4px),
    8px calc(100% - 4px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 4px) 8px,
    calc(100% - 4px) 4px,
    calc(100% - 8px) 4px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 4px,
    4px 4px,
    4px 8px,
    0px 8px
  );
}

@font-face {
	font-family: Pixel;
	src: url(fonts/Jersey10-Regular.ttf);
}

html, body {
	height: 100vh;
}

footer {
  background-image: url(images/backgrounds/textures/bricks_nmap.png);
  background-size: 150px;
	margin-top: auto;
  margin-left: -20px;
	height: 50%;
  width: 106%;
  box-shadow: -5px -5px 20px #391b4b;
}

.ftrbtn {
  all:unset;
  height: 60px;
  width: 100px;
  background-image: url(images/catbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 5px 5px #3e2647;
  border-radius: 0px;
}



.ftrbtn:hover {
  background-image: url(images/horse.jpg);
  cursor: pointer;
}

.ftrbtns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

#fb1 {
  all:unset;
  height: 60px;
  width: 100px;
  background-image: url(images/citybg.gif);
  background-size:cover;
    box-shadow: 0px 0px 5px 5px #3e2647;
}
#fb1:hover {
  background-image: url(images/citybg.gif);
  cursor: pointer;
}

#fb4 {
  all:unset;
  height: 60px;
  width: 100px;
  background-image: url(images/buttons/thehorse.png);
  background-size:cover;
    background-position: center;
  background-repeat: no-repeat;
    box-shadow: 0px 0px 5px 5px #3e2647;
}
#fb4:hover {
  background-image: url(images/horse.jpg);
  cursor: pointer;
}

header {
  background-image: url(images/backgrounds/textures/bricks_nmap.png);
  background-size: 150px;
	margin-top: 0px;
  margin-left: -20px;
	height: 10%;
  width: 106%;
	display: flex;
	flex-direction:row;
  align-items: center;
  padding-left: 10px;
  box-shadow: 5px 5px 20px #391b4b;
}

#slab {
	display: flex;
	flex-direction: column;
	font-family: Pixel;
	border-radius: 0px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url(images/backgrounds/textures/bricks_nmap_dark.png);
  background-size: 150px;
	border-width: 0px;
	border-style:solid;
	border-color:rgb(55, 0, 80);
	width: 40%;
	margin: 0 auto;
	height: 75%;
}

#mainbody {
  height: 75%;
  z-index: -1;
  display: block;

}

#sidebody {
  background-image: linear-gradient(0deg,rgba(240, 177, 203, 1) 0%, rgba(183, 109, 232, 1) 100%);
  box-shadow: 0px 0px 10px 5px #403044;
  height: 100%;
  width: 35%;
  display:block;
  flex-direction: column;
  padding-top: 5px;
  overflow: auto;
}

.sidesections {
  min-height: 80px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: dotted;
  border-radius: 2px;
  border-color: rgb(229, 183, 242);
  padding-left: 3px;
  align-items: center;
}

#mainpost {
   margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: double;
  border-radius: 2px;
  border-color: rgb(229, 183, 242);
  padding-left: 3px;
  text-align: center;
}

.nomargins {
  margin-top: 0px;
    margin-bottom: 0px;
      margin-left: 0px;
        margin-right: 0px;
}

.textshadow1 {
  text-shadow: 5px 5px 4px #000;
}

