body {
	background-image: url("images/starbg.gif");
	background-repeat: repeat;
	background-size: 200px;
	color: #ffffff;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 100px;
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 8px),
    8px calc(100% - 8px),
    8px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 4px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 8px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 8px,
    calc(100% - 8px) 8px,
    calc(100% - 8px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    8px 4px,
    8px 8px,
    4px 8px,
    4px 16px,
    0px 16px
  );
}

@font-face {
	font-family: Pixel;
	src: url(fonts/Jersey10-Regular.ttf);
}

html, body {
	height: 100vh;
}

footer {
	background-color: white;
	margin-top: auto;
	height: 15%;
}

#slab {
	display: flex;
	flex-direction: column;
	font-family: Pixel;
	border-radius: 0px;
	padding-top: 0px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: linear-gradient(to top, rgb(141, 106, 146), rgb(120, 66, 128));
	border-width: 0px;
	border-style:solid;
	border-color:rgb(55, 0, 80);
	width: 40%;
	margin: 0 auto;
	height: 75%;
}